{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>地区管理 <a href="/admin/region/add" class="btn btn-success" style="float:right;">新增地区</a></h1>
    <ul class="card-list">
        {% for region in regions %}
        <li class="card">
            <h3>{{ region.name }}</h3>
            <p>{{ region.description }}</p>
            <a href="/admin/region/{{ region.id }}/edit" class="btn">编辑</a>
            <a href="/admin/region/{{ region.id }}/delete" class="btn btn-danger">删除</a>
        </li>
        {% else %}
        <li class="card">暂无地区，点击右上角“新增地区”开始添加</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
